@*@model List<Erp.BackOffice.Areas.Administration.Models.GroupMenuViewModel>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="topmenu">
        <ul class="nav navbar-nav">
            @foreach (var item in Model)
            {
                <li>
                    <a class="@(item.IsActived ? "active" : "")" href="@item.Url">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div><!-- /.navbar-collapse -->*@

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="" id="topmenu">
    <ul class="nav navbar-nav">
    </ul>
</div><!-- /.navbar-collapse -->